name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore /home/runner/work/ImpostorHQ/ImpostorHQ/ImpostorHQ.Command/ImpostorHQ.Command.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore /home/runner/work/ImpostorHQ/ImpostorHQ/ImpostorHQ.Command/ImpostorHQ.Command.sln
    - name: Test
      run: dotnet test --no-restore --verbosity normal /home/runner/work/ImpostorHQ/ImpostorHQ/ImpostorHQ.Command/ImpostorHQ.Command.sln
